
include LICENSE
include README.md
recursive-include src *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include src/askGPT/data/ *.*
recursive-include src/askGPT/data/docs *.md